$colors: (
  navbar_bg: #ffffff,
  purple: #4823dd,
  grad_1: #4823dd,
  grad_2: #5824ce,
  dark_blue: #282d37,
  red: #f7483c,
  light_purple: #d2e1ff,
  copyright: #5f636b,
  copyright_links: #b3b3b3,
);
